html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #292929;
}

.wrapper {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70%;
    margin: 0 auto;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

img {
    display: block;
    width: 80%;
    height: auto;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    height: 100%;
    width: 80%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(255, 119, 29, 0.9);
}

.wrapper:hover .overlay {
    opacity: 1;
}